<%= form_for(@twoot) do |f| %>
  <% if @twoot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@twoot.errors.count, "error") %> prohibited this twoot from being saved:</h2>

      <ul>
      <% @twoot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $("input[type='submit']").on('click', function(e) {
    var formData = $(this).parents("form").serialize();
    $.post('/twoots.json', formData, function(jsonResponse) {
      $("body").append(jsonResponse.body);
    });
    e.preventDefault();
  });
</script>
